
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: black;
    font-family: 'Roboto', sans-serif;
}

#canvas {  
    border: 2px solid black;
    background: white;
}

#box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

p{
    display:flex;
    margin: 10px;
    font-size: 20px;
    color: white;
    letter-spacing: 1.25px;
    border: 10px teal solid;
    
}
    

form {
    display:flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -15%;
}

.highScore {
    font-size: 150px;
    color: white;
    position: absolute;
}


ul{
    list-style-type: none;
}

.button {
    background-color: white;
    border: 0;
    border-radius: 100px;
    padding: 12px 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.25px;
    font-size: 16px;
    margin: 5px;
    min-width: 100px;
    outline: none;
    transition: .25s;
    opacity: .75;
    cursor: pointer;
}

.button:hover {
    opacity: 1;
}

#playerOne{
    background-color: white;
    border: 0;
    padding: 16px 24px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.25px;
    font-size: 16px;
    margin: 16px;
    min-width: 160px;
    outline: none;
}

h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 48px;
    margin-top: 0;
    border-bottom: 50px teal solid;
}

h2 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 36px;
    margin-top: -5%;
    border-bottom: 50px teal solid;
}